section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

section.show {
  opacity: 1;
  transform: translateY(0);
}

.img-galery1 {
  width: 500px;
  height: 100%;
}

/* =============== Page index =============== */
/* polices */
.police1 {
  font-family: 'Cinzel', serif;
  font-size: 2em;
  font-weight: normal;
}
  
.police2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.2em;
}

.police3 {
  font-family: 'Cinzel', serif;
  font-size: 1.7em;
}

.police4 {
  font-family: 'Cinzel', serif;
  font-size: 2.5em;
  color: azure;
}

.police5 {
  font-family: 'Cinzel', serif;
  font-size: 1.8em;
  font-weight: normal;
}

/* ul et H5 Enleve les valeurs crée par le navigateur */
ul {
  padding-inline-start: 0px;
}

h5 {
  display: block;
  font-size: 1.2em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: lighter;
  unicode-bidi: isolate;
}
/*****************************************************/

a {
  text-decoration: none;
  color: black;
}

/* =============== Navigation avec image de fond + responsive =============== */
nav {
  padding-top: 2%;
  padding-bottom: 2%;
}
  
.container-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  background-color: transperent;
  width: 100%;
  height: 100px;
}
  
.poiter {
  cursor:pointer;
  list-style-type: none;
}
  
.poiter:hover > ul {
  display: grid;
}
  
.itemlogo {
  width: 120px;
}
  
.container-image-backgroung-nav {
  background-image: url("../img/divers/m.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin-top: -17%;
}

.texte-container-image-backgroung-nav {
  display: flex;
  justify-content: center;
  padding-top: 92vh;
}
  
/* Taille img */
.img-size-nav {
  width: 100%;
  height: 100%;
}

/* Menu deroulant */
.section-menu-deroulant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
  height: 10em;
  background: #00000000;
  color: #333030;
}

.logo {
  width: 150px;
  height: auto;
}

.menu-icon {
  font-size: 60px;
  cursor: pointer;
}

.nav-menu-deroulant {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  /* Explication du problème (z-index)
  Ton menu de navigation est affiché derrière d'autres éléments, notamment le carrousel.
  Cela signifie que son z-index est inférieur à celui du carrousel ou que le carrousel est dans un conteneur qui a un z-index plus élevé.*/
  z-index: 9999; /* Valeur très élevée pour être au-dessus de tout */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.menu-content {
  background-image: url("../img/divers/fond-menu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  padding: 20px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
}

.menu-content .ul-deroulant {
  list-style: none;
  padding: 0;
}

.menu-content .ul-deroulant .li-deroulant {
  margin: 50px 0;
}

.menu-content .ul-deroulant .li-deroulant .a-deroulant {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #3f3c3c;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 70px;
  cursor: pointer;
  color: white;
}
/* ===================================================== */

/* Slogan */
.slogan-index {
  display: grid;
  text-align: center;
  padding: 3%;
  font-size: 1.5rem;
}
  
/* Presentation des préstations */
.container-presentation-prestation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10em 10em 10em;
}
  
.section {
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
  
.section-contact {
  background-image: url("../img/divers/mbr.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  grid-column: 1;
  grid-row: 1;
}

.section:hover {
  transform: scale(1.1); /* scale agrandi l'image */
}

.section-animaux {
  background-image: url("../img/animaux/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  grid-column: 2;
  grid-row: 1;
}

.section-paysage {
  background-image: url("../img/paysage/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.section-portrait {
  background-image: url("../img/portrait/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

.section-aventure {
  background-image: url("../img/aventure/john.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  grid-column: 3;
  grid-row: 3;
}

.section-sport {
  background-image: url("../img/sport/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  grid-column: 4;
  grid-row: 3;
}
  
.survol-prestation .survol {
  display: none;
  color: #fff;
}

.survol-prestation:hover .defaut {
  display: none;
}

.survol-prestation:hover .survol {
  display: initial;
}

/* Separation hr */
hr {
  border-top: 1px solid grey;
  margin-top: 5%;
}

/* Container video */
.video-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

.iframe-page-index {
  width: 560px;
  height: 315px;
}

.description-iframe {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-carrousel {
  display: flex;
  justify-content: center;
  height: 70vh;
}

.slideshow-container {
  position: relative;
  width: 80%;
}

.slide {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.active {
  opacity: 1;
}

.img-carrousel-js {
  width: 100%;
  border-radius: 10px;
}

img {
  width: 100%;  
  height: 100%; 
  object-fit: cover; /* Remplit le conteneur sans déformation */
  object-position: center; /* Centre l’image comme background-position */
  display: block; /* Évite l’espace sous l’image */
}

/* =============== Galerie d'images =============== */
.container-galerie-image {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    margin: 2% 2%;        
}

.gallery .img-galerie {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* =============== Page paysage =============== */
.section-description-paysage {
  margin-top: 7%;
  margin-bottom: 7%;
  text-align: center;
}  

.citation-einstein {
  text-align: justify;
  text-align-last: right;
  width: 60%;
  margin-top: 5%;
  margin-right: auto;
  margin-bottom: 5%;
  margin-left: auto;
}

.nom-citation {
  text-align: end;
}

/* =============== Page portrait =============== */
.disposition-grand-text {
  display: flex;
  justify-content: center;
  text-align: start;
  margin: 0% 8%;
} 

.container-presentation-prestation-portrait {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 3%;
  padding-right: 3%;
}

.section-portrait-tarif {
  padding: 20px;
  margin: 30px;
  height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}


.section-portrait-tarif:hover {
  transform: scale(1.1); /* scale agrandi l'image */
  transition-duration: 1s;
}

.survol-prestation-portrait .survol-2 {
  display: none;

}

.survol-prestation-portrait:hover .defaut-portrait {
  display: none;

}

.survol-prestation-portrait:hover .survol-2 {
  display: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.design-survol {
  color: rgb(9, 9, 9);
  background-color: #ffffffc3;
  width: 100%;
  height: 100%;
}

.section-forfait1 {
  background-image: url("../img/portrait/image4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  grid-column: 1;
}

.section-forfait2 {
  background-image: url("../img/portrait/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  grid-column: 2;
}

.section-forfait3 {
  background-image: url("../img/portrait/image3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  grid-column: 3;
}

.margin-p {
  margin: 3%;
}

/* =============== Page Aventure =============== */
.img-presentation-aventure {
  width: 80%;
  margin: 0%;
}

.titre-aventure {
  margin-top: 5%;
  margin-bottom: 5%;
}

.description-aventure {
  width: 40em;
}

.container-aventure {
  display: block;
  background-color: rgb(241, 220, 209);
  padding: 20px;
  max-width: 90%;
  margin: 3%;
}

.paraf-paysage-texte-responsive {
  width: 70%;
  display: inline-block;
}

.column {
  text-align: center;
  padding: 10px;
}

.column , .paraf {
  text-align: left;
}

/* Style des images */
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container-aventure {
  display: flex;
  justify-content: center;
  width: auto;
  height: 10em;
}

.aventure-image {
    width: 33%;
    height: auto;
    margin: 0% 1%;
}

.evenement-aventure {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.event {
  display: flex;
  align-items: center;
  padding: 15px;
  border-left: 5px solid #ccc;
}

.date {
  background: #e3e3e3;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

.info {
  flex: 1;
  margin-left: 15px;
}

.button-savoir-plus {
  background: rgb(241, 220, 209);
  color: #514e4e;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.separator {
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}

/* =============== Bouton javascript galerie photo =============== */
.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px); /* Effet flou */
  display: flex;
  display: none; /* Caché par défaut */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 80%;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.close:hover {
  color: red;
}

/* =============== Bouton galerie photo ================*/
.bouton-galerie-photo {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  color: black;
  border: 0;
  cursor: pointer;
  position: relative;
  padding: 20px 50px;
  transition: all .25s;
}

.bouton-galerie-photo::after, .bouton-galerie-photo::before {
  border: 1px solid black;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all .25s;
}

.bouton-galerie {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 1%;
}

.bouton-galerie-photo:hover::after {
transform: translate(-5px, -5px);
}

.bouton-galerie-photo:hover::before {
transform: translate(5px, 5px);
}

/* =============== Bouton en savoir plus =============== */
.savoirplus {
  cursor:pointer;
  color: rgb(143, 143, 143);
  background: white;
  border: 1px solid rgb(186, 186, 186);
  border-style: thin;
  letter-spacing: 3px;
  width: 50vh;
  height: 9vh;
}

.savoirplus:hover {
  color: white;
  background: rgb(131, 131, 131);
  transition-duration: 0.5s;
}

.position-bouton {
  padding-top: 1%;
  padding-bottom: 7%;
  display: flex;
  justify-content: center;
}

/* =============== Sport =============== */
.section-forfait-sport1 {
  background-image: url("../img/sport/image3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  grid-column: 1;
}

.section-forfait-sport2 {
  background-image: url("../img/sport/image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  grid-column: 2;
}

.section-forfait-sport3 {
  background-image: url("../img/sport/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  grid-column: 3;
}

/* ==================== Contact ==================== */
.background-form-contact {
  background-image: url("../img/contact/foutain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Masque avec un dégradé */
  -webkit-mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 70%, transparent);
  mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 90%, transparent);
}

.form-display {
  width: 25em;
  display: grid;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.champ1 {                              
  background-color: rgba(255, 255, 255, 0.716);
  border: none;
  height: 3em;
  margin-bottom: 0.5em;
}

.champ2 {
  resize: none;
  background-color: rgba(255, 255, 255, 0.716);
  border: none;
  text-align: center;
}

.send {
  cursor:pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 50px;
  background-color: rgba(255, 255, 255, 0.763);
}

.send:hover {
  color: white;
  background: rgb(143, 143, 117);
  transition-duration: 0.3s;
}

input::placeholder {
  text-align: center;
}

/* =============== Pied de page =============== */
footer {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: auto 50% auto;
  color: rgb(203, 196, 196);
  background: rgb(227, 227, 227);
  height: auto;
}

.img-footer {
  width: 100px;
  display: initial;
}

.foot1 {
  color: black;
  font-size: 0.9em;
  font-family: 'Cinzel', serif;
}
  
.foot2 {
  font-size: 15px;
  border: none;
  background: none;
  color: rgb(21, 21, 21);
}
  
.foot3 {
  background: white;
  padding-top: 10%;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
}